#mtavari {
    width: 500px;
    height: 500px;
    border: blue 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.child {
    width: 100px;
    height: 100px;
    border: 3px solid yellow;
}