#maindiv {
    width: 500px;
    border: 3px red solid;
    height: 500px;
    display: flex;
    justify-content: center;
}

.child {
    border: 3px green solid;
    width: 100px;
    height: 100px;
}