#maindiv {
    border: black solid 3px;
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-rows: 25px 25px;
    grid-template-columns: 25px 25px;
    grid-auto-flow: column;
}



#maindiv div {
    background-color: green;
    color: white;
    width: 25px;
    height: 25px;
}