h1 {
    text-align: center;
    background-color: darkblue;
    border: 3px darkcyan solid;
    font-size: larger;
    color: darkolivegreen;

}

header {
    background-color: darkslategray;
    border: 3px darkolivegreen solid;



}

p {
    text-align: center;
    color: green;







}


body {
    background-color: black;



}






ol {
    text-align: center;
    background-color: darkblue;
    border: 3px darkcyan solid;
    font-size: larger;
    color: darkolivegreen;



}